<section id="login">
    <div class="container">
        <div class="row col-lg-12">
            <h2>Login</h2><br>
	        <div class="row control-group">
			    <div class="field col-xs-4 form-group controls">
			      <%= f.label :email%><br>
			      <%= f.text_field :email, class: 'form-control', placeholder: 'E-mail'%>
			    </div>
			  </div>

			  <div class="row control-group">
			    <div class="field col-xs-4 form-group controls">
			      <%= f.label :password %><br>
			      <%= f.text_field :password, class: 'form-control', placeholder: 'Senha'%>
			    </div>
		    </div>
        </div>
    </div>
</section>