<div class='general-form-trips'>

  <h1>Requisições de Contato</h1>
  
  <div class='panel panel-default'>
    <table class="table table-striped table-hover">
      
      <thead>
        <tr>
          <th>Viagem</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Status</th>
        </tr>
      </thead>
      
      <tbody id="request_list">
        <%= render partial: 'list_request'%>
      </tbody>
    </table>
  </div>
</div>