<section id="search-trip" class="to-traveler">
    <div class="container">
        <div class="row">
            <div class="travel-text col-lg-9">
                <h1 class="primary-title">Bem Vindo ao FASTRIP!</h1>

                <p class="search-text">Aqui você encontra a sua viagem desejada e solicita a empresa responsável que entre em contato para fechar negócio. 
                </p>
                <p class="search-text">É simples e fácil, basta cadastrar-se para poder fazer solicitações, dar feedbacks sobre viagens que você já concretizou, ter um histórico de suas viagens e muito mais!
                </p>
            
                <% if not user_signed_in? %>
                    <div class="row col-lg-offset-2 text-center buttons-home">
                        <div class="col-lg-4 cad-button">
                                <%= link_to "Cadastrar-se", new_user_registration_path, :class => 'btn submit-buttons'  %>       
                        </div>
                        <div class="pipe"> ou </div>
                        <div class="col-lg-4">
                            <input name="botao" type="button" class="botao-fb">
                        </div>
                    </div>
                <% end %>
            </div> 
            <div class="search-form">
                <h2 class='second-title'>BUSCAR VIAGENS</h2><br>
                <%= render 'trips/search_trip' %>
            </div>
        </div>
    </div>
</section>

<section id="company" class='to-company success conteudo'>
    <div class="container">
        <div class="row">
            <div class="company-registration col-lg-6">
                <h2 class="second-title">CADASTRE A SUA EMPRESA</h2><br>
                <% if not company_signed_in? %>
                    <%= render 'companies/registrations/new' %>
                <% else %>
                    Você já está logado!
                    <%= link_to "Logout", destroy_company_session_path, :method => :delete %>
                <% end %>
            </div>

            <div class="col-lg-5 text-center company-text">
                <h1 class="primary-title">Oferte as suas viagens!</h1>
                <p class="search-text">Cadastre a agência de viagem para poder cadastrar e gerenciar as suas viagens que ficaram disponíveis para que seus clientes solicitem aprovação na viagem e retornem feedbacks sobre os serviços prestados pela empresa.
                </p>
            </div>
        </div>
    </div>
</section>

<section  id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="primary-title-ab primary-title ">Sobre</h1><br>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-6">
                <p class='about-text'>Muito Prazer, sou Maycon Rafael Sacht, estudante de Bacharelado em Sistemas de Informação do Centro Universitário Católica de Santa Catarina. O Fastrip foi desenvolvido como proposta para o meu trabalho de conclusão de curso durante o ano de 2015.</p>
            </div>
            <div class="col-lg-6">
                <p class='about-text'>O objetivo do Fastrip é ser um canal centralizado de informações referentes a viagens onde tanto agências de viagens quanto usuários que estejam a procura de serviços oferecidos por estas agências possam ter agilidade no processo de contratação destes serviços. </p>
            </div>

        </div>
    </div>
</section>