@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,700);

body {
    font-family: "Raleway",sans-serif;
    color : #2B2B2B;
    width: 100%;
    height: 100%;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    width: 100%;
    height: 100%;
}

.geral {
    min-height:100%;
    position:relative;
}

@media(min-width:770px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

hr {
    max-width: 50px;
    border-color: #fff;
    border-width: 3px;
}

hr.black {
    border-color: #2B2B2B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: "Raleway",sans-serif;
    font-weight: 10;
    letter-spacing: 0px;
    color: #9B9A9A;
}

h1.title,
h2.title,
h2.title {
    font-weight: bold;
}

h2.title-company {
    color: white;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.4;
    color: #646464;
}

p.footer {
    font-size: 15px;
    color:#fff;
    font-weight: 100;
    text-align: center;
}

p.contact {
    margin: 0 0 35px;
    font-size: 20px;
    font-weight: 10;
    letter-spacing: 0px;
    color: #646464;   
}

p.company {
    color: #fff;
    font-weight: 500;
    text-align: justify;
}

p.it-menu {
    color: white;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

.navbar {
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-custom {
    color:#9B9A9A;
    background-color:#FFFFFF;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color: #9B9A9A;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #000;
    background-color:transparent;
}

.navbar-custom .navbar-brand {
    color:#9B9A9A;
    backgorund-color:#FFFFFF;
    font-weight: 600;
    font-size: 200%;
}

 .navbar-default .navbar-nav > .active{
    color: #000;
    background: #FFFFFF;
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #FFFFFF;
 }

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.to-traveler {
    height: auto;
    min-height:100%;
    background: #FFF;
    padding: 5%;
    padding-top: 10%;
}

.to-company {
    height: auto;
    min-height:100%;
    background: #FFF;
    padding: 5%;
}

.about {
    height: auto;
    min-height:90%;
    text-align: center;
    background: #FFF;
    padding: 5%;
    padding-top: 15%
}

.general-form {
    padding-top: 10%;
    padding-left: 28%;
    padding-right: 13%;
}

.company-registration {
    padding-top: 7%;
    padding-left: 27%;
}

.pass-one {
    left: 0px;
    margin: 0;
}

.button-enter {
    padding-top: 8%;
}

.login {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 20%;
}
 
.submit-nav-buttons {
    background-color: white;
    border: none;
}


.submit-nav-buttons:focus, .submit-nav-buttons:hover {
    background-color: #8C8C8C;
}

.form-control:focus {
    border-color: #BABABA;
    -webkit-box-shadow: 1px;
    box-shadow: none;
}

.footer-section {
    position: absolute;
    bottom: 0;
    width:100%;
    background: #242424;
    padding-top: 1.7%;
}

.footer-section-home {
    position: relative;
    bottom: 0;
    width:100%;
    background: #242424;
    padding-top: 1.7%;
    min-height: 90%
}

p.about-description {
    font-size: 18px;
    font-weight: 400;
}
.CSSTableGenerator {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #000000;
    
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
    
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
    
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
    
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#f2f2f2; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
    vertical-align:middle;
    
    
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:12px;
    font-size:10px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}.CSSTableGenerator tr:last-child td{
    border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
    border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
        background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
    background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");  background: -o-linear-gradient(top,#005fbf,003f7f);

    background-color:#005fbf;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
    background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");  background: -o-linear-gradient(top,#005fbf,003f7f);

    background-color:#005fbf;
}
.CSSTableGenerator tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .intro-section .brand-heading { font-size: 30px; }
    .intro-section .intro-text { font-size: 20px; }
    .intro-section {padding-top: 20%;}

    .btn-circle-sec {
        padding-top: 5px;
    }

    .intro-section {
        padding-top: 25%;
    }
    .produtos-section {
        padding-top: 7%;
    }
    .empresa-section {
        padding-top: 15%;
    }
    .localizacao-section {
        padding-top: 15%;
    }
    .contato-section {
        padding-top: 15%;
    }     
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 0px) {
    .intro-section .brand-heading { font-size: 30px; }
    .intro-section .intro-text { font-size: 20px; }

    .btn-circle-sec {
        padding-top: 10px;
    }

    .intro-section {
        padding-top: 25%;
    }
    .produtos-section {
        padding-top: 7%;
    }
    .empresa-section {
        padding-top: 15%;
    }
    .localizacao-section {
        padding-top: 18%;
    }
    .contato-section {
        padding-top: 18%;
    }  

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .intro-section .brand-heading { font-size: 35px; }
    .intro-section .intro-text { font-size: 20px; }

    .btn-circle-sec {
        padding-top: 15px;
    }

    .intro-section {
        padding-top: 25%;
    }
    .produtos-section {
        padding-top: 7%;
    }
    .empresa-section {
        padding-top: 15%;
    }
    .localizacao-section {
        padding-top: 10%;
    }
    .contato-section {
        padding-top: 10%;
    }  

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .intro-section .brand-heading { font-size: 40px; }
    .intro-section .intro-text { font-size: 20px; }

    .btn-circle-sec {
        padding-top: 20px;
    }

    .intro-section {
        padding-top: 15%;
    }
    .produtos-section {
        padding-top: 10%;
    }
    .empresa-section {
        padding-top: 15%;
    }
    .localizacao-section {
        padding-top: 10%;
    }
    .contato-section {
        padding-top: 10%;
    }    

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .intro-section .brand-heading { font-size: 45px; }
    .intro-section .intro-text { font-size: 25px; }

    .btn-circle-sec {
        padding-top: 25px;
    }

    .intro-section {
        padding-top: 15%;
    }
    .produtos-section {
        padding-top: 5%;
    }
    .empresa-section {
        padding-top: 10%;
    }
    .localizacao-section {
        padding-top: 5%;
    }
    .contato-section {
        padding-top: 5%;
    }
}

/*@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,700);

body {
    font-family: "Raleway",sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    width: 100%;
    height: 100%;
}



p.it-menu {
    font-size: 10px;
    color: white;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #3C875E;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
        color: #3C875E;
    }
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    background-color: #1F3227;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-white {
    background-color: #3C875E;
    border: solid 2px black;
    float: left;
    color: black;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #3C875E;
    background: #fff;
}



.login {
    padding-top: 10%;
    padding-left: 40%;
}

.registration {
    padding-top: 10%;
    padding-left: 40%;
}

.alter-user {
    padding-top: 10%;
    padding-left: 40%;   
}

.toTraveler {
    height: auto;
    min-height: 100%;
    background: #FFF;
    padding: 5%;
}

.toCompany {
    padding: 10%;
    height: auto;
    min-height: 100%;   
}

.about {
    padding: 10%;
    min-height: 100%;
}

section.success {
    color: white;
    min-height: 100%;
    background: #3C875E;
}

/* footer 
.footer-section {
    position: relative;
    margin-bottom: 0px;
    background: #1F3227;
    padding-top: 1%;
    min-height: 90%;
}

p.footer {
    font-size: 15px;
    color:#fff;
    font-weight: 100;
    text-align: center;
}*/