@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,700);

body {
    font-family: "Raleway",sans-serif;
    color : #2B2B2B;
    width: 100%;
    height: 100%;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    width: 100%;
    height: 100%;
}

hr {
    max-width: 400px;
    border-color: #fff;
    border-width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    font-family: "Raleway",sans-serif;
    font-weight: 10;
    letter-spacing: 0px;
    color: #9B9A9A;
}

h1.title,
h2.title,
h2.title {
    font-weight: bold;
}

h1.primary-title {
    color: white;
    text-align: center;
    font-weight: bold;
}


h1.primary-title-ab {
    text-align: center;
    font-weight: bold;
    color:#9B9A9A; 
}

h2.second-title{
    color: white;
    font-weight: bold;
}


h3.second-title{
    color: white;
    font-weight: bold;
}

h2.title-company {
    color: white;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

/* Menu */

.navbar {
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-custom {
    color:#9B9A9A;
    background-color:#FFFFFF;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color: #9B9A9A;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #000;
    background-color:transparent;
}

.navbar-custom .navbar-brand {
    color:#9B9A9A;
    backgorund-color:#FFFFFF;
    font-weight: 600;
    font-size: 200%;
}

 .navbar-default .navbar-nav > .active{
    color: #000;
    background: #FFFFFF;
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #FFFFFF;
 }

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.menu-text {
    font-size: 12px;
}

.it-menu-company {
    color: white;
    font-size: 12px;
}

.it-menu {
    position: fixed;
    left: 89%;
    z-index:1;
}


/* Traveler styles */

p.description-text {
    text-align: center;
    color: white;
    font-size: 23px;
    line-height: 1.2;
    text-shadow: 0 0 0.0001em #2C3E50, 0 0 0.0001em #2C3E50, 0 0 0.0001em #2C3E50;
}

#to-traveler {
    position: relative;
    height: auto;
    min-height:100%;
    background-image: url(search-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.general-search-text {
    padding-top: 20%;
}

.general-login-on-text {
    padding-top: 25%;   
}

.general-search-form {
    padding-top: 17%;
    padding-bottom: 4%;
}

.fb-button {   
    background:url(fb-login.png);
    cursor:pointer;
    float: left;
    height: 50px;
    width: 242px;
    border-color: none;
    border: none;
}

.buttons-home {
    padding-top: 3%;
}

/* Company styles */

p.company {
    color: #fff;
    font-weight: 500;
    text-align: justify;
}

.infos {
    font-size: 13px;
}

#to-company {
    position: relative;
    height: auto;
    min-height:100%;
    padding-top: 12%;
    background-image: url(company-bg.jpg);
    background-attachment: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.company-register-form {
    padding-top: 7%;
}

.company-register-text {
    padding-top: 13%;
}

/* About styles */


p.about-description {
    font-size: 18px;
    font-weight: 400;
}


p.about-text {
    text-align: center;
    color: #9B9A9A;
    font-size: 23px;
    line-height: 1.2;
}

.about {
    height: auto;
    min-height:90%;
    background: #E9EAED;
    padding-top: 15%;
}

.about-text {
    padding-left: 5%;
}

.general-trip {
    position: absolute;
    top: 19%;
    left: 28%;
    right: 13%;
    width: 42%;
    height: 200px;
}

/* footer */

.footer-section {

    bottom: 0;
    width:100%;
    background: #242424;
    padding-top: 1.7%;
}

.footer-section-home {
    margin-bottom: 0px;
    width:100%;
    background: #242424;
    padding-top: 1.7%;
    min-height: 90%
}

p.footer {
    font-size: 15px;
    color:#fff;
    font-weight: 100;
    text-align: center;
    background: #242424;
    margin-bottom: 30px;
}


/* trips styles */

.trip-description {
    padding-top: 15px;
    padding-bottom: 30px;
}

/* Posts styles */

.box-comment {
    border-bottom: 1px solid #CCCDD3;
    padding: 20px; 
    width: 100%;
    height: auto;
    min-height: 100px;
}

.comments-title {
    font-size: 25px;
    font-style: bold;
}

.post-message {
    padding-top: 15px;
}

.post-name {
    font-size: 18px;
    font-style: bold;
}

.display-button`{
    display: none;
}

.point-comp{
    padding-top: 10px;
}

.background-yellow {
    background: #FFFB98;
}

.background-green {
    background: #9DFF98;
}

.background-red {
    background: #FF9898;
}
.background-blue {
    background: #7A83FF;
}

.register-edit {
    padding-top: 118px;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 100%;
}

.register-pos {
    top: 29%;
}


.geral {
    min-height:100%;
    position:relative;
}

.general-form-trips {
    padding: 5%; 
    padding-top: 12%;
    background: #E9EAED; 
    min-height: 100%;
}

.search-box {
    border-radius: 5px;
    background: rgba(0,0,0,.5);
    padding: 3%;
}

.pass-one {
    left: 0px;
    margin: 0;
}

.buttons-login {
    margin-left: -15px;
    padding: 0%;
}

.pipe-login {
    position: absolute;
    color: black;
    font-size: 18px;
    margin-left: 30%;
    padding-top: 2%;
    float: center;
}

.pipe-register {
    position: absolute;
    color: black;
    font-size: 18px;
    margin-left: 23%;
    padding-top: 2%;
}




.fb-location {
    margin-left: -22px;
}

.fb-locatio-new {
    margin-left: -10px;
}



.it-menu-conf {
    float: right;
    text-transform: none;    
} 

.nav-cus {
    text-align: center;
    text-transform: capitalize;
}

.menu1 {
    top: 12%;
    padding-right: 100%;
}

.button-enter {
    padding-top: 12%;
    padding-left: 15%;
}

.subform-login {
    padding: 8%;
    padding-left: 10%;
    padding-right: 10%;
}

.box-login {
    padding-top: 220px;
    margin-left: 32%;
    margin-right: 32%;
}

.espacament {
    margin: 0px;
}

.general-form {
    height: auto;
    min-height: 90.7%;
    background: #E9EAED; 
}

.submit-nav-buttons {
    background-color: white;
    color: black;
    border: none;
    font-size: 13px;
}


.submit-nav-buttons:focus, .submit-nav-buttons:hover {
    background-color: #3498db;
}

.submit-buttons {
    background-color: #FF6B00;
    color: white;
    border: none;
    text-decoration:none;
}


.submit-buttons:focus, .submit-buttons:hover {
    background-color: #FF4D00;
}

.form-control:focus {
    border-color: #BABABA;
    -webkit-box-shadow: 1px;
    box-shadow: none;
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .pipe {
        display:none;
    }

    .general-search-form {
        padding-top: 4%;
    }

    .general-login-on-text {
        padding-top: 18%;   
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 0px) {
    .pipe {
        display:none;
    }

    .general-search-form {
        padding-top: 4%;
    }

    .general-login-on-text {
        padding-top: 18%;   
    }

    .search-box {
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }

    .pipe {
        display:none;
    }

    .general-search-form {
        padding-top: 4%;
    }

    .general-login-on-text {
        padding-top: 18%;   
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .pipe {
        position: absolute;
        color: white;
        font-size: 15px;
        margin-left: 36%;
        padding-top: 2%;
        float: center;
    }

    .pipe {
        display:inherit;
    }

    .search-box {
        display: inherit;
    }

    .general-search-form {
        padding-top: 18%;
    }

    .general-login-on-text {
        padding-top: 25%;   
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .pipe {
        font-size: 18px;
        margin-left: 35%;
        padding-top: 1%;
    }

    .pipe {
        display:inherit;
    }

    .general-search-form {
        padding-top: 18%;
    }

    .general-login-on-text {
        padding-top: 25%;   
    }
}

.menu-panel:focus, .menu-panel:hover {
    background-color: #3D556E;
}

.title-trip {
    font-size: 24px;
    float: left;
    font-style: bold;
}

.orig-dest {
    font-size: 18px;
    padding-top: 70px;
}

.td1-teste {
    width: 50px;
}

.td2-teste {
    width: 100%;
}

.price-trip {
    float: right;
    font-size: 27px;
    padding-top: 70px;
    padding-left: 42%
}

.btn-facebook {
    background: #3b5998;
    color: white;
}

.btn-facebook:hover {
    background: #354F87;
}

.pos-buttons {
    text-align: center;
}

.cp-facebook {
    float: right;
}

.pos-buttons2 {
    padding-top: 10px;
}

.per-people{
    font-size: 17px;
}

/* Details page */

.detail-title {
    padding-bottom: 20px;
    font-size: 30px;
}

.container img {
    position: relative;
    width: 95%;
    height: 400px;
    margin-left: -13px;
    padding-bottom: 20px;
}

.details-orig-dest {
    font-size: 18px;
    padding-top: 5px;
}

.general-trip-detail {
    padding-top: 125px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 30px;
    text-align: justify;
    min-height: 100%;
}

.box-note {
    background-color: #9B9A9A;
    height: 17.5px;
    padding-left: 4px;
    border-radius: 3px;
    display: inline;
    margin-right: 4px;
}

.note-text {
    font-size: 13px;
    text-align: center;
}
